* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
  
    --accent-color: #2196f3;
    --background-black: #21303a;
    --background-black-dark: #2f303a;
    --background-gray: #f5f4fa;
    --button-filter: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;
  
    --folio-border: #eeeeee;
  
    --container-padding: calc((100% - 1600px) / 3);
    --container-features: calc((100% - 1200px) / 4);
    --container-what-we-do: calc((100%-1200px) /3); 
  }
  
  body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  a {
    text-decoration: none;
  }
  .is-hidden {
    display: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
  }

  .header-container {
    display: flex;
  }
  .section {
    padding: 94px 0;
  }
  .section > h2 {
    color: var(--primary-black-color);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  /* ----------- Header section ----------- */
  header {
    border-bottom: 1px solid black;
     }

  header nav {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  header nav .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;  
    margin-right: 20px; 
  }
  
  header nav .nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  header nav .nav-menu .page {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
  
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contact-menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
  }
  .contact-menu .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .list {
    list-style: none;
  }

  .lista1:not(:last-child){
    margin-right: 50px;
  }
  
  .lista2:not(:last-child):not(:last-child){
    margin-right: 50px;
  }

  .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
  }
  
  .nav-menu .page:hover,
  .nav-menu .page:focus,
  .nav-menu .page.current,
  .contact-menu .link:hover,
  .contact-menu .link:focus {
    color: var(--accent-color);
  }
  /* ----------- Hero section ----------- */
  .hero {
    background-color: var(--background-black-dark);
    padding: 200px var(--container-padding);
    text-align: center;
  }
  .hero .hero-title {
    width: 696px;
    margin: 20px auto;
    color: var(--primary-white-color);
    font-size: 44px;
    text-transform: capitalize;
  }
  .button-primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
  
    border: none;
    outline: none;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

  }
  .button-primary:hover {
    cursor: pointer;
    background-color: var(--button-primary-hover);
  }
  /* ----------- feature section ----------- */
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .feature {
    display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
    
  }
  .feature li {
    width: 240px; 
  }

  .feature li .title {
    height: 50px;
    text-transform: uppercase;
    color: var(--primary-black-color);
    margin-bottom: 15px;
  }

  /* ----------- What we do----------- */
  .what-we-do-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .what-we-do-section .container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .what-we-do-section .container ul li {
    list-style: none;
    width: 373.16px;
    height: 323.7px;
    
    }

  .what-we-do-section .description {
    width: 270px;
    height: 96px;
    padding: var(--container-what-we-do);
  }

  /*----------- Team section -----------*/
  .our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .team-section {
    background-color: var(--background-gray);
  }
  .team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .team li {
    background-color: var(--primary-white-color);
    text-align: center;
    list-style: none;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #eeeeee;
    cursor: pointer;
  }

  .box-team {
    padding: 10px;
  }
  
  .team li h3 {
   margin-bottom: 30px;
  }
  .team li p {
    margin: 20px 0 10px 0;
  }
  .footbar {
    padding: 94px var(--container-padding);
    background-color: var(--background-black);
  }
  .footer-links .contact {
    color: var(--text-white-opacity);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71rem;
  }
  .footer-links ul {
    list-style: none;
  }
  .footer-links .contact {
    display: block;
    color: var(--text-white-opacity);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    padding: 5px 0;
  }
  .footer-links .contact:hover {
    color: var(--primary-white-color);
  }
  
  /* Portafolio Section */

  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    list-style: none;
  }
  .portfolio .menu li button {
    border: none;
    outline: none;
    color: var(--primary-black-color);
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 10px 30px;
  
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .portfolio .list li button:hover,
  .portfolio .list li button.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
  
  .portfolio .cards {
    display: flex;
    /* Make a flex container multiline */
    flex-wrap: wrap;
    /* Set gap between rows and columns */
    gap: 30px;
    padding: 0;
    list-style: none;
  }

  .box-cards {
    padding: 10px;
  }
  .portfolio .item {
    /*  Set the width of the elements  */
    flex-basis: calc((100% - 60px) / 9);
  
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
  }
  .portfolio .item:hover {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #eeeeee;
    cursor: pointer;
  }
  .portfolio .cards li a h2 {
    color: var(--primary-black-color);
    padding: 15px;
  }
  .portfolio .cards li a p {
    color: var(--primary-text-color);
    font-size: 16px;
    padding: 15px;
  }
  